<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<title>MiniSky</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords"content="博客,nodejs交流,web前端交流,html5">
	<meta name="description" content="牛海彬的专用练武场,小白一枚,努力成长中...">
	<link rel="shortcut icon" href="favicon.ico" /> 
	<link rel="stylesheet" href="/css/sky.css">
	<!-- <script type="text/javascript" src="/js/jquery.js"></script> -->
	<script type="text/javascript" src="/js/sky.js"></script>
	</head>
<body>
	<div class="header">
		<div class="nav">
			<h1><a href="/" id='min-home'>Minisky</a></h1>
			<div class="nav-item">
				<ul>
					<li data-link="/resume">
						<div id='min-resume'><a href="/resume" data-text="个人简历">resume</a></div>
					</li>
					<li data-link="/skyexample/upload">
						<div><a href="/skyexample/upload" data-text="小测试">upload</a></div>
					</li>
					<li data-link="https://sadrun.github.io">
						<div><a href="https://sadrun.github.io" data-text="blog">blog</a></div>
					</li>
					<!--<li>
						<div><a href="#" data-text="about">about</a></div>
					</li>-->
					<li data-link="/skyexample/example">
						<div id='min-example'><a href="/skyexample/example" data-text="例子" >example</a></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content">