<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>resume</title>
	<link rel="stylesheet" href="/css/resume.css">
</head>
<body>
	<div class="main">
		<div class="main-info">
			<div class="main-row">
				<div class="resume-grid" title="原谅本人实在太丑！">
					<div class="myhead"><img src="/images/head.jpg" alt="" class="unbelieve"><img src="/images/cry.gif" alt="" class="believe"></div>
					<h2>牛海彬</h2>
					<p>前端界的一股清流（简称：小白）</p>
				</div>
				<fieldset class="resume-row">
					<legend class="resume-row-title">毕业院校</legend>
					<div class="resume-row-context school">
						<p>浙江工业大学</p>
						<p>计算机科学与技术学院 · 数字媒体专业<br>2014年毕业</p>
					</div>
				</fieldset>
				<fieldset class="resume-row">
					<legend class="resume-row-title">联系方式</legend>
					<div class="resume-row-context contact">
						<p>邮箱</p>
						<p><a href="Mailto:1264593211@qq.com">1264593211@qq.com</a><br><a href="Mailto:muge0501@gmail.com">muge0501@gmail.com</a></p>
						<p><a href="javascript:void(0);" class="telphone">电话</a></p>
						<p><a href="javascript:void(0);" class="telphone">187******21</a></p>
					</div>
				</fieldset>
				<fieldset class="resume-row">
					<legend class="resume-row-title">工作经历</legend>
					<div class="resume-row-context work">
						<p>畅唐网络</p>
						<p>前端开发工程师</p>
						<p>杭州中焯信息技术股份有限公司</p>
						<p>前端开发工程师</p>
					</div>
				</fieldset>
				<fieldset class="resume-row">
					<legend class="resume-row-title">项目经验</legend>
					<div class="resume-row-context experience">
						<p>畅唐网络</p>
						<p>参与完成公司108社区的pc端，wap端的网站开发，完成了后期改版以及seo的优化。并参与了Android和ios app中混合功能的开发。配合运营完成了部分微信活动页面的开发</p>
						<p>杭州中焯信息技术股份有限公司</p>
						<p>参与了中信证券，东北证券，西部证券，华西证券等炒股app的前端开发工作，并参与完成了证券app通用模块组件的的开发。</p>
					</div>
				</fieldset>
				<fieldset class="resume-row ">
					<legend class="resume-row-title">技能点数</legend>
					<div class="resume-row-context skill">
						<div class="resume-skill-row" title="精通">
							<p>javascript，html5，css3 </p>
							<div class="resume-skill-bar" style="" data-value="96%"></div>
						</div>
						<div class="resume-skill-row" title="精通">
							<p>jquery,zepto</p>
							<div class="resume-skill-bar" style="" data-value="90%"></div>
						</div>
						<div class="resume-skill-row" title="掌握">
							<p>Nodejs</p>
							<div class="resume-skill-bar" style="" data-value="65%"></div>
						</div>
						<div class="resume-skill-row" title="掌握">
							<p>react</p>
							<div class="resume-skill-bar" style="" data-value="65%"></div>
						</div>
						<div class="resume-skill-row" title="熟练">
							<p>Seajs，spm，webpack</p>
							<div class="resume-skill-bar" style="" data-value="70%"></div>
						</div>
						<div class="resume-skill-row" title="熟练">
							<p>hybrid模式，ps基本操作</p>
							<div class="resume-skill-bar" style="" data-value="70%"></div>
						</div>
						<div class="resume-skill-row" title="掌握">
							<p>服务端各种模板语言（jsp,asp,ejs等）</p>
							<div class="resume-skill-bar" style=""  data-value="60%"></div>
						</div>
					</div>
				</fieldset>
				<fieldset class="resume-row">
					<legend class="resume-row-title">部分展示</legend>
					<div class="resume-row-context project">
						<p><a href="http://sadrun.duapp.com/">个人测试站点</a></p>
						<p><a href="http://sadrun.duapp.com/">http://sadrun.duapp.com</a></p>
						<p><a href="https://sadrun.github.io/">个人博客</a></p>
						<p><a href="https://sadrun.github.io/">https://sadrun.github.io</a></p>
						<p><a href="javascript:void(0);">公司产品</a></p>
						<p><a href="http://www.108sq.com/">108社区(pc端) http://www.108sq.com</a><br>
						   <a href="http://m.108sq.com/">108社区(wap端) http://m.108sq.com</a>
						</p>
						<p>其他</p>
						<p>108社区Android和iso客户端中部分功能<br>
							个别券商炒股app中部分功能</p>
					</div>
				</fieldset>
				<fieldset class="resume-row ">
					<legend class="resume-row-title">自我评价</legend>
					<div class="resume-row-context me">
						<p></p>
						<p>一个有梦想的小白</p>
					</div>
				</fieldset>
				<fieldset class="resume-row ">
					<legend class="resume-row-title"></legend>
					<div class="resume-row-context social">
						<p style="text-align:center;"><a href="http://wpa.qq.com/msgrd?v=3&uin=1264593211&site=qq&menu=yes" ><i class="qq"></i></a><a href="http://weibo.com/u/2017306257"  style="margin-left:2em;"><i class="sina"></i></a></p>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="download" id="download"><a href="/resume/download">下载</a></div>
	<script>
		var doc=document; 
		var tel='1-8-7-6-7-1-2-2-7-2-1';
		var page = {
			init:function(){
				var self = this;
				self.doms = {
					telphone:document.querySelectorAll('.telphone'),
					skillbar:document.querySelectorAll('.resume-skill-bar'),
					myhead:document.querySelector('.myhead')
				};
				self.flag = self.throttle(16,function(args){
					var top = document.documentElement.scrollTop || document.body.scrollTop;
					self.showAnimate(top);
					self.showskillbar(top);
				});
				self.initEvent();

				window.scroll(0,1);
			},
			initEvent:function(){
				var self = this;
				self.windowHeight = document.documentElement.clientHeight;
				self.bind(self.doms.telphone,'click',function(e){
					this.setAttribute('href','tel:'+tel.replace(/-/g,''));
				});
				window.onscroll = function(){
					self.flag();
				}
			},
			bind:function(doms,type,callback){
				if(Object.prototype.toString.call(doms) === '[object NodeList]'){
					[].forEach.call(doms,function(dom){
						dom.addEventListener(type,callback,false);
					});
				}else{
					doms.addEventListener(type,callback,false);
				}
			},
			showAnimate:function(top){
				var self =this;
				var dom =self.doms.myhead;
				var pos =dom.getBoundingClientRect().bottom;
				if(pos <= 0){
					dom.classList.add('disaled');
					dom.classList.remove('active');
				}else{
					dom.classList.remove('disaled');
					dom.classList.add('active');
				}
			},
			showskillbar:function(top){
				var self =this;
				//var pos = parseInt(self.windowHeight)+parseInt(top);
				var doms =self.doms.skillbar; 
				var i=0;
				[].forEach.call(doms,function(dom){
					var pos =dom.getBoundingClientRect().bottom;
					if(pos <= self.windowHeight){
						dom.style.width = dom.getAttribute('data-value');
						i++;
					}
				});
				self.doms.skillbar = Array.prototype.slice.call(self.doms.skillbar,i);
			},
			throttle:function(delay,callback){
				var last,
					timer = null;
				return function(){
					var curr = Date.now(),
						context = this,
						args = arguments;
					clearTimeout(timer);
					if(!last){
						last = curr;
					}
					if((curr - last) > delay){
						callback.apply(context,args);
						last = curr;
					}else{
						timer = setTimeout(function(){
							callback.apply(context,args);
						},delay);
					}
				}
			}
		}
		if (doc.readyState === 'complete') {
	        page.init();
	    } else {
	        doc.addEventListener('DOMContentLoaded', function(e) {
	            page.init();
	        }, false);
	    }
	</script>
</body>
</html>