<%- include ../header %>
<link rel="stylesheet" href="/css/skyexample/example.css">
	<ul class="example-menu" style='height:240px'>
		<li><a href="/skyexample/vkeyboard"><span>虚拟键盘</span> <span>Virtual keyboard</span></a><img src="/images/page.png" alt=""  height="240"/ ></li>
		<li><a href="#"><span>幸运大转盘</span> <span>Lucky draw</span></a><img src="/images/page.png" alt=""  height="240"/></li>
		<li><a href="#"><span>翻书</span> <span>Page turning</span></a><img src="/images/page.png" alt=""  height="240"/></li>
		<li><a href="#"><span>微信活动</span> <span>Activity</span></a><img src="/images/page.png" alt="" height="240" /></li>
	</ul>
	<img id='snapshotImageElement'/>
    
    <canvas id='canvas' width='200' height='200'>
      Canvas not supported
    </canvas>

    <script src='/js/skyexample/clock.js'></script>
<%- include ../footer %>