<%- include ../header %>
<link rel="stylesheet" href="/css/skyexample/vkeyboard.css">
	<div id="main">
		<div class="code">
			<span class="w60 h30" keyCode="27">Esc</span>
			<span class="w60 h30" keyCode="112">F1</span>
			<span class="w60 h30" keyCode="113">F2</span>
			<span class="w60 h30" keyCode="114">F3</span>
			<span class="w60 h30" keyCode="115">F4</span>
			<span class="w60 h30" keyCode="116">F5</span>
			<span class="w60 h30" keyCode="117">F6</span>
			<span class="w60 h30" keyCode="118">F7</span>
			<span class="w60 h30" keyCode="119">F8</span>
			<span class="w60 h30" keyCode="120">F9</span>
			<span class="w60 h30" keyCode="121">F10</span>
			<span class="w60 h30" keyCode="122">F11</span>
			<span class="w60 h30" keyCode="123">F12</span>
			<span class="w60 h30" keyCode="42" style="margin-left: 6px;">PrtSc</span>
			<span class="w60 h30" keyCode="46">Delete</span>
		</div>
		<div class="code">
			<span class="w60" keyCode="192">`</span>
			<span class="w60" keyCode="49">1</span>
			<span class="w60" keyCode="50">2</span>
			<span class="w60" keyCode="51">3</span>
			<span class="w60" keyCode="52">4</span>
			<span class="w60" keyCode="53">5</span>
			<span class="w60" keyCode="54">6</span>
			<span class="w60" keyCode="55">7</span>
			<span class="w60" keyCode="56">8</span>
			<span class="w60" keyCode="57">9</span>
			<span class="w60" keyCode="48">0</span>
			<span class="w60" keyCode="189">-</span>
			<span class="w60" keyCode="187">=</span>
			<span class="w140" keyCode="8">Backspace</span>
			<span class="w60" keyCode="36">home</span>
		</div>
		<div class="code">
			<span class="w100" keyCode="9">Tab</span>
			<span class="w60" keyCode="81">Q</span>
			<span class="w60" keyCode="87">W</span>
			<span class="w60" keyCode="69">E</span>
			<span class="w60" keyCode="82">R</span>
			<span class="w60" keyCode="84">T</span>
			<span class="w60" keyCode="89">Y</span>
			<span class="w60" keyCode="85">U</span>
			<span class="w60" keyCode="73">I</span>
			<span class="w60" keyCode="79">O</span>
			<span class="w60" keyCode="80">P</span>
			<span class="w60" keyCode="219">[</span>
			<span class="w60" keyCode="221">]</span>
			<span class="w100" keyCode="220">\</span>
			<span class="w60" keyCode="35">End</span>
		</div>
		<div class="code">
			<span class="w120" keyCode="20">Caps Lock</span>
			<span class="w60" keyCode="65">A</span>
			<span class="w60" keyCode="83">S</span>
			<span class="w60" keyCode="68">D</span>
			<span class="w60" keyCode="70">F</span>
			<span class="w60" keyCode="71">G</span>
			<span class="w60" keyCode="72">H</span>
			<span class="w60" keyCode="74">J</span>
			<span class="w60" keyCode="75">K</span>
			<span class="w60" keyCode="76">L</span>
			<span class="w60" keyCode="186">;</span>
			<span class="w60" keyCode="222">'</span>
			<span class="w150" keyCode="13">Enter</span>
			<span class="w60" keyCode="33">PgUp</span>
		</div>
		<div class="code">
			<span class="w150" keyCode="16">Shift</span>
			<span class="w60" keyCode="90">Z</span>
			<span class="w60" keyCode="88">X</span>
			<span class="w60" keyCode="67">C</span>
			<span class="w60" keyCode="86">V</span>
			<span class="w60" keyCode="66">B</span>
			<span class="w60" keyCode="78">N</span>
			<span class="w60" keyCode="77">M</span>
			<span class="w60" keyCode="188">,</span>
			<span class="w60" keyCode="190">.</span>
			<span class="w60" keyCode="191">/</span>
			<span class="w120" keyCode="16">Shift</span>
			<span class="w60" keyCode="191">up</span>
			<span class="w60" keyCode="34">PgDn</span>
		</div>
		<div class="code">
			<span class="w80" keyCode="17">Ctrl</span>
			<span class="w60" keyCode="">Fn</span>
			<span class="w60" keyCode="">Win</span>
			<span class="w60" keyCode="18">Alt</span>
			<span class="w405" keyCode="32"></span>
			<span class="w60" keyCode="18">Alt</span>
			<span class="w60" keyCode="">Copy</span>
			<span class="w60" keyCode="17">Ctrl</span>
			<span class="w60" keyCode="37">Left</span>
			<span class="w60" keyCode="40">Down</span>
			<span class="w60" keyCode="39">Right</span>
		</div>
		<div style='text-align:center;color: #fff;font-size:12px;'>小提示：鼠标点击或者键盘按相应的键</div>
	</div>
	<script type="text/javascript" src="/js/skyexample/vkeyboard.js"></script>
<%- include ../footer %>