<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/css/mobile/index.css">
</head>
<body>
	<div id="turnpage">
		<div class='turnpage-loading' style='display:none;'></div>
		<div id='pages' class='pages'>
			<div class="page">
				<div class="bg">
					<img src="/images/mobile/bg1.jpg" width="100%" height="100%">
				</div>
			</div>
			<div class="page">
				<div class="bg">
					<img src="/images/mobile/bg2.jpg" width="100%" height="100%">
				</div>
			</div>
			<div class="page">
				<div class="bg">
					<img src="/images/mobile/bg3.jpg" width="100%" height="100%">
				</div>
			</div>
			<div class="page">
				<div class="bg">
					<img src="/images/mobile/bg4.jpg" width="100%" height="100%">
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src = "/js/mobile/turnPage.js"></script>
	<script type="text/javascript">
		// var _height =document.body.offsetHeight;
		// document.querySelector('#pages').style.height = _height+'px';
		new TurnPage();
	</script>
</body>
</html>